
body {
    font: 16px/1.4 $font-family-sans-serif;
    background: #fFF;
}

img {
	width : 100%;
	height: auto;
}

.wrapper {
	@include mq(tablet) {
        margin: 0 auto;
	}
	&--skinny {
		max-width: 1296px;
		margin: auto;
		padding: 5vw;
		background: #F4F4F4;
	
		@include mq(wide) {
			padding: 0;
		}
	}
}

.main-container {
	width: 100%;
}

.section {
	width: 100%;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.main {
	//@include container;
	width: 100%;
}

.section-secondary {
	@include mq(desktop) {
	//	@include span(6 of 12);
		width: 50%;
	}

}

.section-primary {
	@include mq(desktop) {
	//	@include span(12);
		width: 100%;
	}
}

.section-tertiary {
	@include mq(desktop) {
	//	@include span(6 of 12);
		width: 50%;
	}
}