.work {
	img {
		margin-bottom: 8%;
		&.section__image--full {
			padding: 0 10%;
		}
	}
	@include mq(tablet) {
		.section-secondary {
			&:nth-child(odd) {
				.section__block {
					padding-left: 4%;
				}
			}
			&:nth-child(even) {
				.section__block {
					padding-right: 4%;
				}
			}
		}
	}
	.wrapper--skinny {
		background: #FFF;
	}
	.section-contact, .site-footer {
		background: #333;
		color: #EFEFEF;
	}
	.site-footer {
		padding-bottom: 90px;
	}
	.section__imageholder {
		opacity: 0;
		margin-bottom: 20px;
		@include transition (all .3s ease-in .1s);
		@include transform (translate(0px, -50px));	
		@include mq(desktop) {
			margin-bottom: 2.5vw;
		}
	}
	.section-header__h1 {
		opacity: 0;
		@include transition (all .3s ease-in .1s);
		@include transform (translate(0px, -50px));
	}

	.section-header__intro {
		opacity: 0;
		@include transition (all .3s ease-in 1.1s);
		@include transform (translate(50px, 0px));
		margin-bottom: 40px;
		font-size: 14px;
		h2 {
			text-transform: none;
			margin-bottom: 10px;
			font-weight: bold;
		}
		p {
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}
    ul {
      margin: 0 0 20px 20px;
      list-style: disc;
      li {
          padding: 0 0 0 20px;
          line-height: 1.6;
      }
    } 

		@include mq(tablet) {
			font-size: 16px;
		}
	}
	.section-header__list {
		opacity: 0;
		@include transition (all .3s ease-in 1.1s);
		@include transform (translate(-50px, 0px));
	}
	.wrapper--skinny .section:first-child {
		opacity: 0;
		@include transition (all .3s ease-in 1.5s);
		@include transform (translate(0px, 50px));
	}
	.main.active {
		.section__imageholder {
			opacity: 1;
			@include transform (translate(0px, 0px));
		}
		.section-header__h1 {
			opacity: 1;
			line-height: 1;
			margin-bottom: 20px;
			@include transform (translate(0px, 0px));
			@include mq(tablet) {
				margin-bottom: 2.5vw;
			}
			&:before {
				left: -99.5vw;
				@include mq(tablet) {
					left: -97.5vw;
				}
			}
			.section__title {
				margin-left: 5vw;
				line-height: 1;
			}
			.section__subtitle {
				margin-left: 3vw;
				margin-bottom: .6vw;
				line-height: 1;
			}
		}
		.section-header__intro, .section-header__list {
			opacity: 1;
			@include transform (translate(0,0));
		}
		.wrapper--skinny .section:first-child {
			opacity: 1;
			@include transform (translate(0px, 0px));
		}
		
	}

}

.video--wrapper {
			position: relative;
  		width: 100%;
  		overflow: hidden;
  		padding-bottom: 	56.25%; 
  		margin-bottom: 5vw;
	}
.video--embed {
			position: absolute;
		  top: 0;
		  left: 0;
		  bottom: 0;
		  right: 0;
		  width: 100%;
		  height: 100%;
		  border: none;
	}


